@page
@using GameBrain
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Web.Pages.Game.NewModel
@{
    ViewData["Title"] = "New Game";
}

<div class="container">
    <h2>Create New Game</h2>

    <form method="post">
        <div class="form-group">
            <label>Select Configuration:</label>
            <select asp-for="SelectedConfigId" class="form-control">
                @foreach (var config in Model.Configurations)
                {
                    <option value="@config.Name">@config.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Game Mode:</label>
            <select asp-for="GameMode" class="form-control">
                <option value="@GameMode.PlayerVsPlayer">Player vs Player</option>
                <option value="@GameMode.PlayerVsAI">Player vs AI</option>
                <option value="@GameMode.AIVsAI">AI vs AI</option>
            </select>
        </div>
        <div class="form-group">
            <label>Game Password:</label>
            <input type="password" asp-for="Password" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary">Create Game</button>
    </form>
</div>